<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Back to transactions", transactions_path %>

  <%= button_to "Destroy this transaction", @transaction, method: :delete %>
</div>
